<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" color-on-scroll="400">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span style="font-size: 24px;" >Memórias de Zattera</span>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Navegar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">Resumo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/timeline/">História e Linha do Tempo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/regions/">Regiões e Localizações</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/organizations/">Facções e Organizações</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/characters/">Personagens e Tradições</a>
          </div>
        </li>
      </ul>
      <div class="ml-3"> <!-- Add this div for the language buttons -->
        <button class="btn btn-link" onclick="changeLanguage('en')">
          <i class="flag flag-us"></i>
        </button>
        <button class="btn btn-link" onclick="changeLanguage('br')">
          <i class="flag flag-br"></i>
        </button>
        <script>
          function changeLanguage(lang) {
            // Get the current URL and remove any existing language code
            let currentUrl = window.location.pathname;
            currentUrl = currentUrl.replace(/^\/(en|br)\//, '/');
        
            // Redirect to the selected language version of the page
            window.location.href = `/${lang}${currentUrl}`;
          }
        </script>
      </div>
    </div>
  </div>
</nav>